# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

## Python Data Types

### Q7 Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables

In [14]:
x=60

In [15]:
print(x)

60

In [16]:
x= x+40

In [17]:
print(x)

100

In [18]:
y=150

In [19]:
print(y)

150

In [20]:
y=y-50

In [21]:
print(y)

100

In [22]:
z=20

In [23]:
print(z)

20

In [24]:
z=z*5

In [25]:
print(z)

100

In [26]:
p=500

In [27]:
print(p)

500

In [28]:
p=p/5

In [30]:
print(p)

100.0

### Q8. Code 2 floating-point variables and divide them by each other.

In [31]:
x= 5.679

In [32]:
y= 6.59

In [33]:
z= x/y

In [34]:
print(z)

0.8617602427921093

### Q9 Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

In [39]:
a= 'Hello, '

In [40]:
b= 'World'

In [41]:
a+b

'Hello, World'

### Q10. Construct 2 short sentences made of separate strings.

In [48]:
a= 'My name is Ryan. '

In [49]:
b= 'I live in Texas.'

In [50]:
a+b

'My name is Ryan. I live in Texas.'