# 01 Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02 Turn project folder path into a string

In [2]:
path = r'C:\Users\nanu_\Documents\Career Foundry\Projects\2 Data Immersion\Python fundamental for Data Analysis\01-2024 Instacart Basket analysis'

In [3]:
path

'C:\\Users\\nanu_\\Documents\\Career Foundry\\Projects\\2 Data Immersion\\Python fundamental for Data Analysis\\01-2024 Instacart Basket analysis'

## 03 Importing orders_products_prior.csv  dataset

In [4]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 04 Check for Mixed-Type Data

In [5]:
# Check for mixed types
for col in df_prods.columns.tolist():
  weird = (df_prods[[col]].applymap(type) != df_prods[[col]].iloc[0].apply(type)).any(axis = 1)
if len (df_prods[weird]) > 0:
    print ("Column " + col + " has mixed data type")
else:
    print ("No columns with mixed datatype")

No columns with mixed datatype

# 05 Missing Values

In [6]:
# finding missing values in df_prods
df_prods.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

#### The output shows there are no missing values

In [7]:
# df.describe()

# df['column with missings'].fillna(mean value, inplace=True)

# df_prods.median()

# df['column with missings'].fillna(median value, inplace=True)

In [8]:
# Checking the number of rows and columns before clean up
df_prods.shape

(32434489, 4)

In [17]:
#  drop all missing values from df_prods 

# df_prods.dropna(inplace=True)

# If you wanted to drop only the NaNs from a particular column.  Inplace=True with replace the existing dataframe with new.

# df_prods.dropna(subset='product_name',inplace=True)

# 06 Finding Duplicates

In [10]:
# extract duplicate observations from df_prods_clean and store it in dataframe df_dups
df_dups = df_prods[df_prods.duplicated()]

In [11]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

#### There are no Duplicate values in dataframe

# 07 Exporting Clean Data

There is no need for exporting as the data is clean. There were no missing values and duplicate values. So we will use the original data for further analysis