In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Project folder path
path = r'C:\Users\nanu_\Documents\Career Foundry\Projects\2 Data Immersion\Python fundamental for Data Analysis\01-2024 Instacart Basket analysis'

In [3]:
path

'C:\\Users\\nanu_\\Documents\\Career Foundry\\Projects\\2 Data Immersion\\Python fundamental for Data Analysis\\01-2024 Instacart Basket analysis'

In [4]:
# Importing orders_products_combined Dataframe from the pickle file
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_ords_prods.shape

(32434489, 11)

In [6]:
# Importing products_checked Dataframe from prepared data
df_prods_checks = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'Products_checked.csv'), index_col = False)

In [7]:
df_prods_checks.shape

(49672, 5)

In [8]:
df_ords_prods.head()

,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,First_Order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,First Order,196,1,0,both
1,2539329,1,1,2,8,NaN,First Order,14084,2,0,both
2,2539329,1,1,2,8,NaN,First Order,12427,3,0,both
3,2539329,1,1,2,8,NaN,First Order,26088,4,0,both
4,2539329,1,1,2,8,NaN,First Order,26405,5,0,both

In [9]:
df_prods_checks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
#dropping the merge column as we need it for indicator column for merging two dataframes
df_ords_prods = df_ords_prods.drop("_merge", axis=1)

In [11]:
# Merging df_ords_prods and df_prods_checks and creating the new dataframe df_ords_prods_merged
df_ords_prods_merged = df_prods_checks.merge(df_ords_prods, on = 'product_id', how = 'inner', indicator = True)

In [12]:
df_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,time_of_day,days_since_prior_order,First_Order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,Not First Order,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,Not First Order,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,Not First Order,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,First Order,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,Not First Order,11,1,both

In [13]:
#checking the merge
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
#Exporting data to csv
df_ords_prods_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.csv'))

In [15]:
# Exporting data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))